.products {
    padding: 30px 50px;
    display: flex;
}

.filters {
    flex: 1;
    position: sticky;
    height: 100%;
    top: 100px;
}

.productsList {
    flex: 3;
}

.filter__item {
    margin-bottom: 30px;
}

h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

.input__item {
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
}
